#header{
	/*border-bottom:1px solid #ddd;*/
}
#header .top_title{
	max-width: 12rem;
	font-weight: 600;
    display: inline-block;
    white-space:nowrap;
    font-size: 1.3rem;
	margin-left: 15px;
	cursor: pointer;
}

#header .top_title img{
	width: 100%;
}
#header .header_inner{
	display: flex;
    max-height: 90px;
    align-items: center;
    background-color: #fff;
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    z-index: 9999;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}
#header .header_inner h1{
	width:10%;
}
#header .header_inner a.icon {
	display: none;
}
#header .header_inner{
    height: 80px;
    opacity: 80%;
    background-color: #989898b3;
}
#header .header_inner ul{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0%, -50%);
}
#header .header_inner li{
	display:inline-block;
    margin-right: 1.5em;
    font-size: 1.1rem;
	font-weight:600;
}
#header .header_inner li.login_area{
	font-size:0.9rem;
	margin-left: 1em;
	margin-right: 1em;
	position: relative;
	cursor: pointer;
    white-space: nowrap;
}w

#header .header_inner li.login_area .logined{
}

#header .header_inner li.login_area .thumb{
	position: relative;
	height: 100%;
	vertical-align: middle;
	width: 2rem;
    height: 2rem;
	display:inline-block;
	border-radius: 10px;
}
#header .header_inner li.login_area .id{
	margin-left: 5px;
}
#header .header_inner li.login_area .thumb .unknown_image {
	font-size: 1.3rem;
}
#header .header_inner .img-profile{
	vertical-align:middle;
	border-radius:30px;
	height: 50px;
}
#header .header_inner .drop_menu{
}

#header .header_inner .memb_wrap{
	min-width : 55px;
}
#header .header_inner li #member_dropmenu{
	position:absolute;
	top: 115px;
	right:0;
	width:100%;
	min-width: 120px;
	display: none; 
	height: auto;
	border: 0px;
	line-height:2rem;
	background-color: #ffffff;
	background-color: rgba( 255, 255, 255, 0.5 );
	
	border-radius: 6px;
    text-align: left;
    
	cursor: pointer;
	color:black;
}
#header .header_inner li li{
    display: block;
    margin-right: 0px;
    font-size: 13px;
    font-weight: 500;
    line-height: 25px;
    
    padding-left:14px;
    padding-right:14px;
    
	line-height: 2.5rem;
}

#header .header_inner li li:hover{
	text-decoration: underline;	
}
#header .user_mark{
	margin-right:9px;
	opacity:0.5;
}
#header .header_inner .memb_wrap .login_icon{
	margin-right: 5px;
}

#footer {
    background-color: black;
    padding: 25px;
}

#footer .inner p{
	color:#666;
	font-size:15px;
}

#footer .inner p.pc3{
	margin-top:18px;
}
#btn_top{
	position:fixed;
	bottom:20px;
	right:50px;
	z-index:999;
	display:none;
}
#btn_top span{
	display:table-cell;
	width:60px;
	height:60px;
	background-color:#DBB557;
	color:#fff;
	border-radius:50px;
	cursor:pointer;
	vertical-align:middle;
	font-size:14px;
	text-align:center;
}
#btn_top span:before{
	display:block;
	content:url(/resources/images/common/top_arr.png);
}

.bigPictureWrapper {
	position : absolute;
	display: none;
	justify-content: center;
	align-items: center;
	top: 0%;
	width: 100%;
	height:100%;
	background-color: gray;
	z-index: 100;
	background:rgba(255,255,255,0.5);
}
.bigPicture {
}
.bigPicture img{
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width:100%;
}

.page_wrap {
    /*min-height: 100vh;*/
    min-height: calc( 100vh - 80px );
}

.page_wrap.list .content ul li {
    position: relative;
    width: 21vw;
    height: 32vw;
    overflow: hidden;
    cursor: pointer;
    display: inline-block;
	margin-bottom: 2.5vw;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

.container {
    width: 90vw;
    margin: 0 auto;
}

.container.page_container {
    background-color: white;
    padding: 3vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
    border-radius: 10px;
}

.title_wrap {
	text-align: center;
    padding-bottom: 1em;
    padding-top: 1em;
}

.title_wrap {
	position: relative;
    height: 31vw;
    color: white;
    /*margin-top: 2vw;*/
}
.title_wrap.notice{
    background-size: cover;
    background-position: 0% 67%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url(http://drive.google.com/uc?export=view&id=1H2aAqxrj2lEN8dadr1s0aHnEXDkkBca_);
}
.title_wrap.photo{
    background-size: cover;
    background-position: 0% 60%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(http://drive.google.com/uc?export=view&id=143A5QcjBIJS_ryJZDWa0mouHnRpgkmTs);
}
.title_wrap.essay{
    background-size: cover;
    background-position: 0% 40%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(http://drive.google.com/uc?export=view&id=1RcKQ5YW4SVhtoVw7TurXumuN997AFICB);
}
.main_title_wrap{
	width:100%;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.main_title {
    font-size: 2rem;
    text-transform: uppercase;
    display : inline-block;
    font-weight:600;
}
.sub_title_wrap{
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 2vw;
	text-align: right;
    font-weight: 600;
    font-size: 0.8vw;
    color: #f2f2f2c2;
}
.container .notice_wrap {
	position: relative;
}

.container .content {
    /* min-height:30vh; */
}

#mask {
	  position:absolute;  
      z-index:9000;  
      background-color:#000;  
      display:none;  
      left:0;
      top:0;
}


.floater {
	float:left;
	height:50%;
	margin-bottom:-120px;
}

.modal {
    position: fixed;
    left: 50%;
    top: 37%;
    transform:translateX(-50%);
    
    width: 21rem;
    
    z-index: 9999;
    background-color: white;
    border-radius: 5px;
    
   box-shadow: 4px 4px 17px 1px grey;
   display: none;
}

.modal .row {
	padding: 14px;
}
.modal .modal_header {
	text-align: left;	
	border-bottom : 1px solid #e6e6e6;
	padding-left: 20px
}
.modal .modal_title {
	font-size : 1rem;
	display : inline-block;
}
.modal .modal_body {
	font-size:1.0rem;
	border-bottom: 1px solid #e6e6e6;
	text-align: center;
}
.modal .modal_body.footprints_modal {
	text-align: left;
}
.modal .modal_body.footprints_modal .footprints_content {
    position: relative;
	margin-top: 0.5em;
}
.modal .modal_body.footprints_modal .footprints_content>p{
	margin-bottom: 0.5em;
}
.modal .modal_body.footprints_modal .footprints_content #counter{
	position: absolute;
    right: 4px;
    bottom: 6px;
}

.close_btn{
	display : inline-block;
	cursor: pointer; 
	border: none;
    line-height: 1.5rem;
    width: 1.6rem;
    border-radius: 13px;
    position : absolute;
    right : -13px;
}

.reply_btn {
	border: none;
	background: none;
}

.reply_modify_submit_btn {
	margin-left: 0.5em;
}

.modal.close_btn{
	float : right;
}

.small_btn {
	background-color: #DDDDDD;
	display : inline-block;
    padding: 0.5em;
	border: none;
    border-radius: 5px;
	cursor: pointer; 
    vertical-align: middle;
}

.normal_btn {
	display : inline-block;
	padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
	border: none;
    border-radius: 5px;
	cursor: pointer; 
    vertical-align: middle;
    background-color: #CCC;
}

.btn:hover {
	background-color: #CACACA;
}

.tab_btn {
	display: inline-block;
    cursor: pointer;
    border: none;
    height: 1.6rem;
    width: 5.5rem;
   	border-top-left-radius: 5px;
    border-top-right-radius: 5px;
	background-color: #CCC;
}

.modal .modal_footer {
	text-align: right;
}

.center_wrap {
	white-space:nowrap;
	position: absolute;
	top:47%;
	left:50%;
	transform: translate(-50%, -50%);
}

.layer {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba( 0, 0, 0, 0.7);
    top: 0;
    left: 0;
    z-index: 9990;
}
.bar {
	display: none;
	width: 90%;
    height: 15px;
    border: 1px solid black;
    position: absolute;
    top: 61%;
    left: 5%;
    z-index: 9999;
}
.progressBar {
    width: 0%;
    height: 100%;
    background-color: steelblue;
}

/** 댓글 **/
.reply_ul {
	text-align: left;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 1.5em;
}
.reply_li {
	border-bottom: 1px solid #CACACA;
}
.reply_top {
	width: 100%;
}

.reply_li .reply_wrap {
	flex-wrap: wrap;
	display: flex;
	position: relative;
	width: 100%;
	min-height: 8vh;

	align-items: center;
	
	padding-top: 0.6em;
    padding-bottom: 0.6em;
    
    justify-content: flex-start;
}

.re_reply {
	padding-left: 3.0em;
	background : url(/resources/images/common/reply.png) no-repeat 18px 20px;
}

.reply_write_li {
	border-bottom: 1px solid #CACACA;
	padding-top: 0.6em;
    padding-bottom: 0.6em;
}

.reply_li .reply_thumb_box{
	height:100%;
    margin-right: 0.5rem;
    display: inline-block;
}

.rereply_thumb_box {
    display: flex;
    height: 100%;
    min-width: 18%;
    align-items: center;
    justify-content: start;
    margin-right: 1rem;
}

.rereply_thumb_box .thumb {
    width: 2rem;
    height: 2rem;
    border-radius: 25px;
    margin-right: 0.4em;
    font-size: 1.7rem;
}

.reply_li .reply_thumb_box .thumb {
	display: inline-block;
	width: 2rem;
    height: 2rem;
    
    border-radius: 25px;
    margin-right: 0.4em;
    
	font-size: 1.7rem;
	vertical-align: middle;
}

.reply_li .reply_thumb_box .userid {
	font-weight: 600;
    font-size: 0.9rem;
}

.reply_li .reply_content_box {
	width: 100%;
    height: 100%;
    text-align: left;
    font-size: 1rem;
    white-space: pre;
    margin-left: 2.4rem;
}
.reply_li .rereply_content_box {
	width: 85%;
    height: 100%;
    text-align: left;
    font-size: 1rem;
    white-space: pre;
    margin-left: 2.4rem;
}

.reply_btn_wrap {
    font-size: 0.8rem;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0%, -50%);
}

.reply_date_box {
    font-weight: 500;
    font-size: 0.8rem;
    display: inline-block;
}

.reply_paging_box {
	flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
}
.reply_paging_box ul{
	display: flex;
    flex-direction: row;
    font-weight: 500;
}

.reply_paging_box ul li{
    margin-right: 1.5em;
}

textarea {
	width: 100%;
	padding: 12px 20px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: #f8f8f8;
	resize: none;
}

.reply_write_box {
    margin: 0 auto;
	display: flex;
    width: 90%;
    justify-content: flex-end;
    flex-direction: column;
    margin-top: 0.5em;
    margin-bottom: 2em;
}

.reply_btn_box {
	justify-content: flex-end;
	display: flex;
	margin-top: 1em;
}

li.active {
    text-decoration: underline;
    font-weight: 700;
}


@media ( max-width: 950px ) {
}

@media ( max-width: 768px ) { /* tablet braek point */
	#header .top_title {
		font-size : 1rem;
	}
	#header .header_inner li {
	    font-size: 0.9rem;
	}
	#header .header_inner li.login_area {
	    font-size: 0.7rem;
	    margin-right: 0px;
	    position: relative;
	}
	.sub_title_wrap {
	    display: none;
	}
	.main_title {
	    font-size: 2rem;
	}	
	
	.reply_li .reply_content_box {
	}
}

@media ( max-width: 600px ) { 
	#header .top_title {
		font-size : 1rem;
	}
	#header .header_inner {
   	    max-height: 75px;
	}
	#header .header_inner a.icon {
		display: block;
		font-size: 1.3rem;
	    padding: 1em;
        position: absolute;
	    right: 0;
	}
	#header .header_inner #head_ul {
		display: none;
		width: 100%;
		position: absolute;
	    top: 0;
	    right: 0;
        padding-top: 73px;
        transform: translate(0%, 0%);
	}
	#header .header_inner ul li {
		cursor: pointer;
		color:white;
	    background: #CC6C94;
		padding: 1em;
		margin-right: 0;
	}
	#header .header_inner ul li>a {
	    color: white;
	}
	#header .header_inner li.login_area {
	    font-size: 0.7rem;
	    margin-right: 0px;
	    margin-left: 0px;
	    position: relative;
	    padding-right: 15px;
	    min-width: 75px;
	}

	.container {
	    width: 80vw;
	}
	.main_title {
	    font-size: 1.5rem;
	}	
	
	#footer .inner p{
		/*font-size:13px;*/
	}
	
	#header .header_inner li {
		display: block;
		line-height: 3;
	}
	
	#header .header_inner li.login_area .thumb {
		width: 25px;
	    height: 25px;
	}
	
	.page_wrap.list .content ul li {
		width: 25vw;
	}
	#header .header_inner li #member_dropmenu{
	    top: 150px;
	}
	
	.reply_li .reply_content_box {
		width: 85%;
	}
	.rereply_thumb_box {
		display: none;
	}
}

@media ( max-width: 425px ) { /* Mobile L braek point */
	#header .top_title {
		font-size : 1rem;
	}
	#header .header_inner {
    	min-height: 73px;
	}
	#header .header_inner a.icon {
		display: block;
		font-size: 1.3rem;
	    padding: 1em;
        position: absolute;
	    right: 0;
	}
	#header .header_inner #head_ul {
		display: none;
		width: 100%;
		position: absolute;
	    top: 0;
	    right: 0;
        padding-top: 73px;
	}
	#header .header_inner ul li {
		color:white;
	    background: #8f8f8f;
		padding: 1em;
		margin-right: 0;
	}
	#header .header_inner ul li>a {
	    color: white;
	}
	#header .header_inner li.login_area {
	    font-size: 0.7rem;
	    margin-right: 0px;
	    margin-left: 0px;
	    position: relative;
	    padding-right: 15px;
	    min-width: 75px;
	}
	.container {
	    width: 90vw;
	}
	.main_title {
	    font-size: 1.5rem;
	}	
	
	#footer .inner p{
		font-size:13px;
	}
	
	#header .header_inner li {
		display: block;
		line-height: 3;
	}

	.reply_li .reply_thumb_box{
	}
	
}