<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.thelovechurch.mapper.GalleryMapper">

	<insert id="insertSelectKey">
		<selectKey keyProperty="gno" order="BEFORE"
			resultType="long">
			select seq_gallery.nextval from dual
		</selectKey>
		
		insert into tbl_gallery (gno, koreaname, engname)
		values (#{gno}, #{koreaName}, #{engName})
	</insert>

</mapper>