<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.thelovechurch.mapper.MemberMapper">
	<resultMap type="org.thelovechurch.domain.MemberVO" id="memberMap">
		<id property="userid" column="userid" />
		<result property="userid" column="userid" />
		<result property="userpw" column="userpw" />
		<result property="username" column="username" />
		<result property="regDate" column="regdate" />
		<result property="updateDate" column="updatedate" />
		<result property="photo" column="photo"/>
		<result property="useremail" column="useremail"></result>
		<collection property="authList" resultMap="authMap" />
	</resultMap>

	<resultMap type="org.thelovechurch.domain.AuthVO" id="authMap">
		<result property="userid" column="userid" />
		<result property="auth" column="auth" />
	</resultMap>


	<select id="read" resultMap="memberMap">
		SELECT
			mem.userid, userpw, username, enabled, regdate, updatedate, auth, photo, useremail
		FROM 
			tbl_member mem LEFT OUTER JOIN tbl_member_auth auth on mem.userid =	auth.userid
		WHERE
			mem.userid = #{userid}
	</select>
	
	<select id="getList" resultMap="memberMap">
		select 
			mem.userid, mem.username, mem.useremail, mem.regdate, auth
		from 
			tbl_member mem left outer join tbl_member_auth auth 
		on mem.userid = auth.userid
		order by auth
	</select>
	
	<select id="checkIdIsSigned" resultType="int">
		select count(*) from tbl_member where userid=#{userid}
	</select>
	
	<select id="checkEmailIsSigned" resultType="int">
		select count(*) from tbl_member where useremail=#{useremail}
	</select>
	
 	<insert id="insert">
		insert into tbl_member (userid, userpw, username, useremail)
		values (#{userid}, #{userpw}, #{username} , #{useremail})
	</insert> 
	
	<insert id="authorize">
		insert into tbl_member_auth (userid, auth)
		values (#{userid}, #{auth})
	</insert>

	<update id="changePassword">
		update tbl_member set userpw = #{userpw} where userid=#{userid}
	</update>
	
	<update id="changeProfilePhoto">
		update tbl_member set photo = #{photo} where userid=#{userid}
	</update>
	
	<update id="grantAuth">
		update tbl_member_auth set auth = #{auth} where userid=#{userid}
	</update>
</mapper>