<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.thelovechurch.mapper.ReplyMapper">
	<insert id="insert">
		insert into tbl_reply (bno, reply, replyer, replydate)
		values (#{bno}, #{reply}, #{replyer}, now())
	</insert>
	
	<insert id="insertRereply">
		insert into tbl_reply (bno, reply, replyer, parent, replydate)
		values (#{bno}, #{reply}, #{replyer}, #{parent}, now())
	</insert>
	
	<select id="read" resultType="org.thelovechurch.domain.ReplyVO">
		select 
		*
		from tbl_reply
		where rno = #{rno}
	</select>
	
	<delete id="delete">
		delete from tbl_reply where rno = #{rno}
	</delete>
	
	<update id="update">
		update tbl_reply set reply = #{reply}, deleted = #{deleted}, updatedate = now()
		where rno = #{rno}
	</update>
	
	<select id="getListWithPaging" resultType="org.thelovechurch.domain.ReplyVO">
        select reply.parent, reply.bno, reply.rno, reply.replyer, reply.replydate, reply.reply, reply.deleted, memb.photo 
        from tbl_reply reply left join tbl_member memb on reply.replyer = memb.userid 
        where reply.bno = #{bno} 
        order by ifnull(parent,rno) desc, replydate
        limit 0, 10
	</select>
	
	<select id="getCountByBno" resultType="int">
		select count(rno) from tbl_reply where bno=#{bno}
	</select>
	

</mapper>